<header
  class="h-16 bg-white border-b border-grey-olive-200 flex items-center justify-between px-4 lg:px-8 shadow-sm relative z-10 shrink-0"
>
  <div class="flex items-center">
    <button
      (click)="toggleSidebar()"
      class="lg:hidden text-pale-slate-700 p-2 -ml-2 rounded-md hover:bg-grey-olive-100 focus:outline-none"
    >
      <i class="ph ph-list text-2xl"></i>
    </button>

    <h1 class="text-lg lg:text-xl font-bold text-pale-slate-900 ml-2 lg:ml-0">
      {{ title }}
    </h1>
  </div>

  <ng-content select="[actions]"></ng-content>
</header>
