<div
  class="bg-white rounded-xl border border-grey-olive-200 shadow-sm overflow-hidden"
>
  <div class="px-6 py-4 border-b border-grey-olive-100">
    <h3 class="font-bold text-pale-slate-800">Últimas Transacciones</h3>
  </div>
  <div class="overflow-x-auto custom-scrollbar">
    <table class="w-full text-sm text-left min-w-150">
      <thead
        class="bg-grey-olive-50 text-grey-olive-600 font-bold uppercase text-[10px] tracking-widest"
      >
        <tr>
          <th class="px-6 py-4">ID</th>
          <th class="px-6 py-4">Cliente</th>
          <th class="px-6 py-4">Total</th>
          <th class="px-6 py-4">Estado</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-grey-olive-100">
        <tr class="hover:bg-grey-olive-50/50 transition-colors group">
          <td class="px-6 py-4 font-medium">#TR-001</td>
          <td class="px-6 py-4">Consumidor Final</td>
          <td class="px-6 py-4 font-bold text-pale-slate-900">$12.50</td>
          <td class="px-6 py-4">
            <span
              class="bg-green-100 text-green-700 px-2 py-1 rounded text-[10px] font-black tracking-tighter"
              >PAGADO</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
