<div
  class="bg-white rounded-xl p-4 border border-grey-olive-200 shadow-sm mb-8 flex flex-col md:flex-row gap-4 items-center"
>
  <div class="flex-1 relative w-full group">
    <i
      class="ph ph-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-pale-slate-400 group-focus-within:text-soft-linen-500"
    ></i>
    <input
      type="text"
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange.emit($event)"
      placeholder="Buscar cliente por nombre o teléfono..."
      class="w-full pl-11 pr-4 py-3 bg-grey-olive-50 border border-grey-olive-100 rounded-xl focus:outline-none focus:border-soft-linen-500 focus:bg-white transition-all text-sm"
    />
  </div>
</div>
